.main{
    background: url(../img/bg-textura.png);
    .acerca-de{
        .contenedor{
            overflow: visible;
            position: relative;
            .foto{
                width: 70%;
                position: absolute;
                left: 0;
                top: -50px;
                z-index: 0;
                box-shadow: 0 0 15px rgba(0, 0, 0, .35);
                img{
                    width: 100%;
                    vertical-align: top;
                }
            }

            article{
                background: #fff;
                padding: 40px;
                width: 50%;
                position: relative;
                z-index: 1;
                box-shadow: 0 0 15px rgba(0, 0, 0, .35);
                float: right;
                margin-top: 40px;
                h3{
                    font-size: 50px;
                    font-weight: 300;
                    margin-bottom: 40px;
                }
                p{
                    line-height: 28px;
                    margin-bottom: 15px;
                }

            }
        }

    }
}